node_modules/@noble/
node_modules/@scure/
node_modules/nostr-tools/
node_modules/nostr-wasm/

node_modules/.bin/
node_modules/@nostr-dev-kit/
node_modules/bufferutil/
node_modules/d/
node_modules/data-uri-to-buffer/
node_modules/debug/
node_modules/es5-ext/
node_modules/es6-iterator/
node_modules/es6-symbol/
node_modules/esniff/
node_modules/event-emitter/
node_modules/ext/
node_modules/fetch-blob/
node_modules/formdata-polyfill/
node_modules/is-typedarray/
node_modules/light-bolt11-decoder/
node_modules/ms/
node_modules/next-tick/
node_modules/node-domexception/
node_modules/node-fetch/
node_modules/node-gyp-build/
node_modules/tseep/
node_modules/tstl/
node_modules/type/
node_modules/typedarray-to-buffer/
node_modules/typescript-lru-cache/
node_modules/utf-8-validate/
node_modules/utf8-buffer/
node_modules/web-streams-polyfill/
node_modules/websocket-polyfill/
node_modules/websocket/
node_modules/yaeti/

