.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

Example/Example.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
